<p>components works!</p>

<div class="card bg-light">Card
    <div class="card-head bg-secondary">Card Head</div>
    <div class="card-body">Card body
    <div class="form-group m-3">
        <input class="form-control">
    </div>
    
    <div class="form-group m-3">
        <input class="form-control">
    </div>
    
    <div class="form-group m-3">
        <input class="form-control">
    </div>
    
    <div class="form-group m-3">
        <input class="form-control">
    </div>
</div>
</div>