<div class="container">
    <h3>Family Members:</h3>
    <button class="btn btn-primary btn-block mb-2" (click) = "addMember({title:'Tamer Wife', firstName:'Yasmeen',lastName:'Ramadan', job:'teacher', age:'29',kids:true})">Add new Member</button>
    <ul class="list-group">
        <li class=" card card-body mb-3" *ngFor="let member of members" [class.bg-info]="member.details" [style.border-color]="member.details ? 'red' : ''">
            <h4><span [class.text-warning]="member.details">{{ member.title | uppercase}}: </span>{{member.firstName}} {{member.lastName}} <small><button (click)= "show(member)" class="btn btn-success btn-sm"><i [ngClass]="member.details ? 'fa fa-minus' : 'fa fa-plus'"></i></button></small></h4>
            <ul *ngIf="member.details">
                <li class="list-group-item">Age: {{member.age}}</li>
                <li class="list-group-item">Job: {{member.job}}</li>
                <li class="list-group-item"> Kids: {{member.kids}}</li>
            </ul>
        </li>
    </ul>
</div>