<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
    <div class="container">
        <a routerLink="/">Angular App</a>
        <ul  class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/family">Family</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/components">Test</a>
            </li>
        </ul>
    </div>
</nav>
